/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  
}
body {
  transition: .25s ease-in-out;
  font-family: "IBM Plex Sans Arabic";
}

/* الناف بار -----------------------------------------------------------------------------------------*/
.navbar {
  background-color: #ffffff;
  /* border: 1px solid red; */
  width: 70%;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  z-index: 9;
}
/* النصوص للناف */
.nav-link {
  margin: auto;
  font-weight: 600;
  font-size: large;
  color: #3a3a3a;
  transition: 0.25s ease-in-out;
}

/* عند الإشارة */
.nav-link:hover {
  color: #fa6240;
  transition: 0.25s ease-in-out;
}

/* دفع الناف بار لليمين */
.navbar-nav {
  padding-right: 5%;
}

/* زر الناف */

#nav_btn {
  background-color: #fa6240;
  font-weight: 600;
  color: white;
  padding: 0.3% 3%;
  margin-left: 3%;
  border-radius: 12px;
  font-size: 18px;
}


  /* الواجهة العلوية */
  .head {
    padding-top: 10%; 
    margin-bottom: 5%;
    text-align: center;
}

.head h1 {
    color: #3a3a3a;
    font-size: 60px;
}

.head h2 {
    color: #fa6240;
}

.head h5 {
    color: #787878;
}



.cards{
  border: 3px solid #FA6240;
  min-width: 352px;
  max-width: 452px;
  height: 230px;
  border-radius: 29px    ;
  padding: 25px;
  margin: 20px;
  
}
.cards h2{
  color: #1e1e1e;
  font-size: 30px;
  font-weight: 600
}
.cards p{
  color: #3A3A3A;
  font-size: 25px;
  font-weight: 500;
}
.cards button{
    background-color: #FA6240;
    color: white;
    font-size: 23px;
    font-weight: 600;
    border: none;
    /* margin: 10px; */
    margin-right: 0;
    border-radius: 13px;
    width: 230px;
    height: 50px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 5%;
  }
  
  
  @media screen and (max-width: 1000px) {
  
      .navbar {
        width: 100%;
        border-radius: 0;
      }
    }
    
    @media screen and (max-width: 992px) {
      .navbar-nav {
        display: flex;
      }
    
      #nav_btn {
        display: none;
      }
    }